<footer class="footer">
    <div class="container">
        <div class="footer__content-wrap">
            <div class="footer__logo">
                <img src="assets/img/logo.svg" alt="Network Canvas">
            </div>

            <div class="footer__nav">
                <nav>
                    <ul>
                        {% include navigation.html %}
                        <li><a class="btn btn--md btn--color-d" href="/download.html">Download</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__privacy-block">
                <ul>
                    <li><a href="/terms-and-conditions.txt">Terms of Use</a></li>
                    <li><a href="/privacy.txt">Privacy Policy</a></li>
                    <li>Copyright Complex Data Collective 2019</li>
                </ul>
            </div>
        </div>
    </div>

</footer>
