<footer class="footer">
    <div class="container">
        <div class="footer__content-wrap">
            <div class="footer__logo">
                <img src="assets/img/logo.svg" alt="Network Canvas">
            </div>

            <div class="footer__nav">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Documentation</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Feedback</a></li>
                        <li><a href="">Project Team</a></li>
                        <li><a class="btn btn--md btn--color-d" href="">Download Now</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__privacy-block">
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li>Copyright Complex Data Collective 2019</li>
                </ul>
            </div>
        </div>
    </div>

</footer>
