<header class="header">
    <div class="header__container">

        <div class="header__logo">
            <a href="/">
                <img src="assets/img/logo.svg" alt="Network Canvas">
            </a>
        </div>

        <div class="header__menu-trigger" aria-label="Opens nav menu" aria-expanded="false" aria-controls="nav" tabindex="0">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="header__nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Feedback</a></li>
                </ul>
            </nav>
        </div>

    </div>
</header>
