// Network Canvas brand colors

//Primary
$network-canvas-coral: #e2215b;
$mustard: #f2b700;
$light-sea-green: #00c9a2;
$white: #ffffff;
$slate-blue: #6b72ec;
$navy-taupe: #2d2955;
$cyber-grape: #3a4a75;
$rich-black: #16152b;

//Secondary
$sea-serpent: #0fb2e2;
$purple-pizazz: #d30fef;
$paradise-pink: #ff3a8c;
$cerulean-blue: #0f70ff;
$kiwi: #70bf54;

//Tertiary

$neon-carrot: #f7891e;
$barbie-pink: #ed008c;
$tomato: #e82d3f;

//Light

$charcoal: #6d6f76;
$platinum: #f2f6f7;
$dark-platinum: #dae3e5;
