.footer {
  padding: 3em 0 2em;

  &__logo {
    img {
      width: 380px;
      margin: 0 auto;
    }
  }

  &__nav {
    text-align: center;
    margin-top: 1.5em;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 15px;
      margin-bottom: 7px;

      &:last-child {
        @include mq(desktop-narrow, 'max-width') {
          display: block;
          margin: 25px auto 0;
        }
      }
    }

    a {
      color: $text-color-main;
      padding-bottom: 3px;
      font-size: 1rem;
      font-family: $quicksand-font;
      border-bottom: 2px solid transparent;

      &.is-active,
      &:hover {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
      }

      &.btn {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        color: white;
        font-family: $quicksand-font;
        cursor: pointer;
        padding: 17px 50px;
        font-size: .75rem;
        border-bottom: none;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  &__privacy-block {
    margin-top: 3em;
    font-size: .7rem;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 15px 10px;
      display: inline-block;

      &:last-child {
        @include mq(tablet, 'max-width') {
          display: block;
          margin-bottom: 0;
        }
      }
    }

    a {
      font-family: $quicksand-font;
      font-size: .7rem;
      color: $color-primary;
    }
  }
}
