.header {
  &__container {
    padding: 2.5em 0;
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    position: relative;
  }

  &__logo {
    img {
      width: 370px;
    }
  }

  &__menu-trigger {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    cursor: pointer;
    outline: none;
    z-index: 9999;
    padding: 15px 0 15px 15px;

    span {
      position: relative;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 2px;
      background: $color-d;

      &:not(:last-child) {
        margin-bottom: .25em;
      }
    }

    .has-open-nav & {
      display: none;

      span {
        transition: all .1s ease; 

        &:nth-child(1) {
          transform: rotate(45deg);
          top: 5px;

        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(135deg);
          bottom: 1px;
        }
      }
    }
  }

  &__nav {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-left: 30px;
    }

    a {
      color: $text-color-main;
      padding-bottom: 3px;
      font-size: 1rem;
      font-family: $sans-serif-medium;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $color-a;
        border-bottom: 2px solid $color-a;
      }
    }
  }

  @include mq(container-max, 'max-width') {
    &__nav {
      li {
        margin-left: 20px;
      }

      a {
        font-size: .95rem;
      }
    }
  }

  @include mq(desktop, 'max-width') {
    &__logo {
      img {
        width: 300px;
      }
    }
  }

  @include mq(desktop-narrow, 'max-width') {
    &__container {
      justify-content: center;
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__nav {
      li:first-child {
        margin-left: 0;
      }
    }
  }

  @include mq(tablet, 'max-width') {
    &__container {
      justify-content: flex-start;
      flex-direction: row;
      padding: 1rem 0;
    }

    &__logo {
      img {
        width: 220px;
      }
    }

    &__menu-trigger {
      display: block;

      .has-open-nav & {  
        display: block;      
        position: fixed;
        right: 1rem;
      }
    }

    &__nav {
      display: none;

      li {
        display: block;
        margin-left: 0;
        text-align: left;
        margin-bottom: 16px;

        a {
          font-size: 1.3rem;
        }
      }

      .has-open-nav & {
        display: block;
        position: fixed;
        background: white;
        z-index: 9000;
        top: 0;
        padding: 35px 0 20px 20px;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        // box-shadow: 1px 1px 8px rgba(black, .1);
      }
    }
  }
}