#mc_embed_signup {
  padding: 50px;
  margin-top: 50px;
  color: #2d2955;
  background: #f2f6f7;
  box-shadow: 0 .5rem 0 rgba($shadow-color, 0.25);
  border-radius: 1rem;
  width: 800px;
  margin: 0 auto;
  max-width: 100%;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .indicates-required {
    margin-bottom: 1rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 -1rem 0.75rem -1rem;

    & > div {
      flex-grow: 1;
      padding: 0rem 1rem;
    }
  }

  .form-bottom {
    margin-top: 2em;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #ffffff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }


  #mc_embed_signup div.mce_inline_error {
    background-color: $color-cyber-grape;
  }

  #mc_embed_signup input.mce_inline_error {
    border-color: $color-cyber-grape;
  }

}


