// Network Canvas brand colors

//Primary
$network-canvas-coral: #e2215b;
$mustard: #f2b700;
$light-sea-green: #00c9a2;
$white: #ffffff;
$slate-blue: #6b72ec;
$navy-taupe: #2d2955;
$cyber-grape: #3a4a75;
$rich-black: #16152b;

//Secondary
$sea-serpent: #0fb2e2;
$purple-pizazz: #d30fef;
$paradise-pink: #ff3a8c;
$cerulean-blue: #0f70ff;
$kiwi: #70bf54;

//Tertiary

$neon-carrot: #f7891e;
$barbie-pink: #ed008c;
$tomato: #e82d3f;

//Light

$charcoal: #6d6f76;
$platinum: #f2f6f7;
$dark-platinum: #dae3e5;

$font-family-base:       "Quicksand", "Raleway", "Lucida Grande", Helvetica, sans-serif;

$brand-primary:             $light-sea-green;
$brand-success:             $network-canvas-coral;
$brand-info:                $sea-serpent;
$brand-warning:             $mustard;
$brand-danger:              $tomato;
$brand-inverse:             $navy-taupe;

$inverse-bg:    $white;
$inverse-color: $rich-black;

$spacer:   3rem;
$line-height-base: 1.6;

p {
  margin-bottom: 1.3rem;
}

p.lead {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom:1.5rem;
}

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Angles mixin
@import "../node_modules/angled-edges/_angled-edges.scss";


//  Mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

@include media-breakpoint-down(md) {
  .card-deck {
    .card {
      display: flex;
      flex: 100%;
      flex-direction: column;

      // Selectively apply horizontal margins to cards to avoid doing the
      // negative margin dance like our grid. This differs from the grid
      // due to the use of margins as gutters instead of padding.
      &:not(:first-child) { margin-left: 0; }
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom:15px;
      }
    }
  }
}


// Main
html, body {
  font-size:18px;
}

//header
.nav-container {
  @extend .container;
  width:100%;
  max-width:1440px;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
      padding-right: 2rem;
      padding-left: .5rem;
  }
}


.logo-mark-type {
  display:none;
  @include media-breakpoint-up(sm) {
    display:inline-block;
  }
}

.logo-mark {
  display:inline-block;
  @include media-breakpoint-up(sm) {
    display:none;
  }
}

// hero
.nc-hero {
  display:flex;
  justify-content: flex-end;
  position: relative;
  height: 350px;
  max-height: 830px;
  background: $navy-taupe;

  .device-header {
    padding:0;
    position:absolute;
    z-index:99;

    .img-devices {
      position: relative;
      z-index:999;
    }

    @include media-breakpoint-up(md) {
      right:45%;
      width: 1000px;
      margin-right:-20px;
      top:5px;
    };

    @include media-breakpoint-up(lg) {
      right:35%;
      width: 1400px;
      margin-right:-20px;
      top:0;
    };

    @include media-breakpoint-up(xl) {
      right:30%;
      width: 1670px;
      margin-right:0;
    };
  }


  .logo-header {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
      margin-top: -55px;
      margin-right: 130px;
      width:430px;
    };

    @include media-breakpoint-up(lg) {
      margin-top:-70px;
      width:500px;
      margin-right: 180px;
    };

    @include media-breakpoint-up(xl) {
      margin-top: -130px;
      width: 600px;
      margin-right: 16%;
    };


    h1 {
      @include responsive-font(4.5vw,2.2em,70px,2.5em);
    }

  }

  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 100);
    height: 490px;
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 180);
    height: 700px;
  };
  @include media-breakpoint-up(xl) {
    min-height: 800px;
    @include angled-edge('inside bottom', 'upper right', $platinum, 250);
    height: 80vh;
  };

}

// buttons
.nc-btn {
  @extend .btn;
  border-radius: 2rem;
  text-transform:uppercase;
  letter-spacing: .15em;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 0.8rem;
  border:0;
  @include box-shadow(0,0.15rem,0,#000);
  line-height: 1;
  @include hover {
    box-shadow: 0;
  }
  &:focus,
  &.focus {
    box-shadow: 0;
  }
}

.nc-btn-primary {
  @extend .btn-primary;
  @include hover {
    background: #00ba96
  }
}

// cards
.card {
  z-index:99;
  @include box-shadow(0,0.15rem,0,#000);
  background: $sea-serpent;
}

img.card-img-top {
  height: 200px;
  display: block;
  margin: 0 auto;
  padding:20px;
}

// Mailchimp
#mc_embed_signup {
  h5 {
    margin-top:1.5em;
    margin-bottom: 1em;
  }

  .indicates-required {
    margin-bottom: 1rem;
  }

  .form-bottom {
    margin-top:2em;
  }

  .form-group {
    margin-bottom: 1rem;
  }
}

// sections
section {
  margin: 0;
  padding: 3em 0 5em 0;
  @include media-breakpoint-up(md) {
    padding: 3em 0 0em 0;
  };
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;

  h1.section-heading {
    font-size:1.7rem;
    @include media-breakpoint-up(md) {
      font-size:2rem;
    };
    @include media-breakpoint-up(lg) {
      font-size:2.3rem;
    };
    @include media-breakpoint-up(xl) {
      font-size:2.5rem;
    };
  }

  &.section-intro {
    background: $platinum;
    padding: 2em 2em;
    @include media-breakpoint-up(md) {
      padding: 8em 0 5em 0;
    };
    @include media-breakpoint-up(lg) {
      padding: 10em 0 15em 0;
    };
    @include media-breakpoint-up(xl) {
      padding: 15em 0 15em 0;
    };

    p.lead {
      font-weight: 400;
    }

    img.img-journey {
      max-width:400px;
      padding: 30px;
      display:block;
      margin: 0 auto;
    }

    h1.section-heading {
      border-bottom: 3px solid $dark-platinum;
      padding-bottom: 25px;
      margin-bottom: 2.5rem;
    }

    .container{
      .col {
        margin-bottom:2em;
      }
    }

    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 100);
    };
    @include media-breakpoint-up(lg) {
      p.lead {
        margin: 0 50px;
      }
      .container {
        background-image: url('/images/svg/line.svg');
        background-repeat: no-repeat;
        background-position: center 140px;
        .col {
          margin-bottom:0;
        }
      }
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 250);
    };
  }
  &.section-arc {
    color: $platinum;
    background: $navy-taupe;
    h1.section-heading {
      border-bottom: 3px solid lighten($navy-taupe, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 250);
    };
  }
  &.section-nc {
    color: $white;
    background-color: $brand-success;
    h1.section-heading {
      border-bottom: 3px solid darken($brand-success, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }

    .timeline {
      margin-top:3em;
      width:100%;
    }
    @include media-breakpoint-up(md) {
      padding: 3em 0 9em 0;
      @include angled-edge('inside bottom', 'upper right', $light-sea-green, 100);
    };
    @include media-breakpoint-up(lg) {
      padding: 6em 0 17em 0;
      @include angled-edge('inside bottom', 'upper right', $light-sea-green, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $light-sea-green, 250);
    };
  }
  &.section-cite {
    color: $white;
    background-color: $light-sea-green;
    h1.section-heading {
      border-bottom: 3px solid darken($light-sea-green, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }

    .timeline {
      margin-top:3em;
      width:100%;
    }

    .card {
      background: $platinum;
      padding:40px;
      margin-top: 3em;
    }
    @include media-breakpoint-up(md) {
      padding: 0em 0 9em 0;
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 100);
    };
    @include media-breakpoint-up(lg) {
      padding: 0em 0 17em 0;
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 250);
    };
  }
  &.section-srv {
    color: $white;
    background-color: $brand-warning;
    padding: 5em 0 5em 0;
    h1.section-heading {
      border-bottom: 3px solid darken($brand-warning, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }

    a {
      color: $network-canvas-coral;
    }

    #mc_embed_signup {
      padding: 50px;
      margin-top:50px;
      color:$navy-taupe;
      background: $platinum;
      @include box-shadow(0,0.15rem,0,#000);
      border-radius: 0.25rem;
      z-index: 9;
    }
    @include media-breakpoint-up(md) {
      padding: 5em 0 0em 0;
      @include angled-edge('inside bottom', 'upper right', #ffffff, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', #ffffff, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', #ffffff, 250);
    };
  }
  &.section-who {
    padding: 5em 0 5em 0;
    h1.section-heading {
      border-bottom: 3px solid darken(#ffffff, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }

    .card {
      background: $platinum;
      border:0;
      margin-bottom: 35px;
      .card-block {
        text-align: center;
        padding-top:0;
      }
      h4 {
        margin-bottom:0;
        font-size: 1.3rem;
      }
    }
    @include media-breakpoint-up(md) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 100);
    };
    @include media-breakpoint-up(lg) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 180);
    };
    @include media-breakpoint-up(xl) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 250);
    };
  }
}
