@import "_nc-brand.scss";
// @import "_bootstrap-variables.scss";

//bootstrap overrides
$font-family-base:       $font-family-netcanvas;


$brand-primary:             $light-sea-green;
$brand-success:             $network-canvas-coral;
$brand-info:                $sea-serpent;
$brand-warning:             $mustard;
$brand-danger:              $tomato;
$brand-inverse:             $navy-taupe;

// $body-bg:       $navy-taupe;
// $body-color:    $white;
$inverse-bg:    $white;
$inverse-color: $rich-black;

$spacer:   3rem;
$line-height-base: 1.6;

p {
  margin-bottom: 1.3rem;
}

p.lead {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom:1.5rem;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/angled-edges/_angled-edges.scss";

.navbar-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .nav-link {
            padding-right: 1.2rem;
            padding-left: 1.2rem;
          }
        }
      }
    }
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

html, body {
  font-size:18px;
}

//header

.nav-container {
  @extend .container;
  width:100%;
  max-width:1440px;
}

.bg-gradient {
  @include gradient-x($rich-black, $navy-taupe);
}

// hero

.nc-hero {
  display:flex;
  justify-content: flex-end;
  position: relative;
  height: 350px;
  background: $navy-taupe;
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 100);
    height: 490px;
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 180);
    height: 700px;
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 250);
    height: 80vh;
  };

}

.logo-mark-type {
  display:none;
  @include media-breakpoint-up(sm) {
    display:inline-block;
  }
}

.logo-mark {
  display:inline-block;
  @include media-breakpoint-up(sm) {
    display:none;
  }
}

.device-header {
  padding:0;
  position:absolute;
  z-index:99;
  // right:30%;
  // width: 1700px;
  // margin-right:-20px;

  @include media-breakpoint-up(md) {
    right:45%;
    width: 1000px;
    margin-right:-20px;
    top:5px;
  };

  @include media-breakpoint-up(lg) {
    right:35%;
    width: 1400px;
    margin-right:-20px;
    top:0;
  };

  @include media-breakpoint-up(xl) {
    right:30%;
    width: 1400px;
    margin-right:-20px;
  };
}

.img-devices {
  position: relative;
  z-index:999;
}

img.img-journey {
  max-width:400px;
  padding: 30px;
  display:block;
  margin: 0 auto;
}

.logo-header {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: right;
    margin-top: -55px;
    margin-right: 100px;
    width:470px;
  };

  @include media-breakpoint-up(lg) {
    margin-top:-70px;
    width:500px;
    margin-right: 180px;
  };

  @include media-breakpoint-up(xl) {
    margin-top: -130px;
    width: 600px;
    margin-right: 180px;
  };


  h1 {
    @include responsive-font(4.5vw,2.2em,70px,2.5em);
  }

}

// Intro

.intro-container {
  @extend .container;
  width: 800px;
  // max-width:1440px;
}

img.logo-section {
  width:130px;
  margin: 3vw auto;
  display: block;
}

hr {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    border: 0;
    border-top: 3px solid $dark-platinum;
}

img.card-img-top {
  height: 200px;
  display: block;
  margin: 0 auto;
  padding:20px;
}

// buttons

.nc-btn {
  @extend .btn;
  border-radius: 2rem;
  text-transform:uppercase;
  letter-spacing: .15em;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 0.8rem;
  border:0;
  @include box-shadow(0,0.15rem,0,#000);
  line-height: 1;
  @include hover {
    box-shadow: 0;
  }
  &:focus,
  &.focus {
    box-shadow: 0;
  }
}

.nc-btn-primary {
  @extend .btn-primary;
  @include hover {
    background: #00ba96
  }
}

// cards

.card {
  z-index:99;
  @include box-shadow(0,0.15rem,0,#000);
  background: $sea-serpent;

}

// sections

section {
  margin: 0;
  padding: 3em 0 5em 0;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  &.section-intro {
    background: $platinum;
    padding: 10em 0 15em 0;

    p.lead {
      font-weight: 400;
      margin: 0 50px;
    }

    h1.section-heading {
      border-bottom: 3px solid $dark-platinum;
      padding-bottom: 25px;
      margin-bottom: 2.5rem;
    }

    .container {
      background-image: url('/images/svg/line.svg');
      background-repeat: no-repeat;
      background-position: center 140px;
    }
    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $navy-taupe, 250);
    };
  }
  &.section-arc {
    color: $platinum;
    background: $navy-taupe;
    padding: 2em 0 0em 0;
    h1.section-heading {
      border-bottom: 3px solid lighten($navy-taupe, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $brand-success, 250);
    };
  }
  &.section-nc {
    color: $white;
    background-color: $brand-success;
    padding: 5em 0 15em 0;
    h1.section-heading {
      border-bottom: 3px solid darken($brand-success, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', $brand-warning, 250);
    };
  }
  &.section-srv {
    color: $white;
    background-color: $brand-warning;
    padding: 5em 0 15em 0;
    h1.section-heading {
      border-bottom: 3px solid darken($brand-warning, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      @include angled-edge('inside bottom', 'upper right', #ffffff, 100);
    };
    @include media-breakpoint-up(lg) {
      @include angled-edge('inside bottom', 'upper right', #ffffff, 180);
    };
    @include media-breakpoint-up(xl) {
      @include angled-edge('inside bottom', 'upper right', #ffffff, 250);
    };
  }
  &.section-who {
    padding: 5em 0 15em 0;
    h1.section-heading {
      border-bottom: 3px solid darken(#ffffff, 10%);
      padding-bottom: 25px;
      margin-bottom: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 100);
    };
    @include media-breakpoint-up(lg) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 180);
    };
    @include media-breakpoint-up(xl) {
      // @include angled-edge('inside bottom', 'upper right', #ffffff, 250);
    };
  }
}
