@import "_nc-brand.scss";
// @import "_bootstrap-variables.scss";

//bootstrap overrides
$font-family-base:       $font-family-netcanvas;


$brand-primary:             $light-sea-green;
$brand-success:             $network-canvas-coral;
$brand-info:                $sea-serpent;
$brand-warning:             $mustard;
$brand-danger:              $tomato;
$brand-inverse:             $navy-taupe;

// $body-bg:       $navy-taupe;
// $body-color:    $white;
$inverse-bg:    $white;
$inverse-color: $rich-black;

$spacer:   1.7rem;
$line-height-base: 1.6;

p {
  margin-bottom: 1.3rem;
}

p.lead {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom:1.5rem;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/angled-edges/_angled-edges.scss";

.navbar-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .nav-link {
            padding-right: 1.2rem;
            padding-left: 1.2rem;
          }
        }
      }
    }
  }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

html, body {
  font-size:18px;
}

//header

.nav-container {
  @extend .container;
  width:100%;
  max-width:1440px;
}

.bg-gradient {
  @include gradient-x($rich-black, $navy-taupe);
}

// hero

.nc-hero {
  display:flex;
  position: relative;
  height: 350px;
  background-image: linear-gradient($navy-taupe, $slate-blue);
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 100);
    height: 490px;
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 180);
    height: 700px;
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 250);
    height: 850px;
  };

}

.logo-mark-type {
  display:none;
  @include media-breakpoint-up(sm) {
    display:inline-block;
  }
}

.logo-mark {
  display:inline-block;
  @include media-breakpoint-up(sm) {
    display:none;
  }
}

.device-header {
  padding:0;
  position:absolute;
  z-index:99;
  // right:30%;
  // width: 1700px;
  // margin-right:-20px;

  @include media-breakpoint-up(md) {
    right:45%;
    width: 1000px;
    margin-right:-20px;
    top:5px;
  };

  @include media-breakpoint-up(lg) {
    right:35%;
    width: 1400px;
    margin-right:-20px;
    top:0;
  };

  @include media-breakpoint-up(xl) {
    right:30%;
    width: 1700px;
    margin-right:-20px;
  };
}

.img-devices {
  position: relative;
  z-index:999;
}

.logo-header {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: right;
    position:absolute;
    right:100px;
    margin-top: -55px;
    width:500px;
  };

  @include media-breakpoint-up(lg) {
    right:100px;
    margin-top:-70px;
    width:550px;
  };

  @include media-breakpoint-up(xl) {
    right: auto;
    margin-top: -130px;
    width: 650px;
    right: 17%;
    margin-right: -20px;
  };


  h1 {
    @include responsive-font(4.5vw,2.2em,70px,2.5em);
  }

}

// buttons

.nc-btn {
  @extend .btn;
  border-radius: 2rem;
  text-transform:uppercase;
  letter-spacing: .15em;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 0.8rem;
  border:0;
  @include box-shadow(0,0.15rem,0,#000);
  line-height: 1;
  @include hover {
    box-shadow: 0;
  }
  &:focus,
  &.focus {
    box-shadow: 0;
  }
}

.nc-btn-primary {
  @extend .btn-primary;
  @include hover {
    background: #00ba96
  }
}

// cards

 .nc-card {
   @extend .card;
   border: 0;
   background-color: transparent;
   .card-footer {
     border: 0;
     background-color: transparent;
   }
 }

// sections

section {
  margin: 0;
  padding: 18em 0 9em 0;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 100);
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 180);
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper right', $platinum, 250);
  };
}

section.section-arc {
  color: $navy-taupe;
  background: $platinum;
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper left', $brand-success, 100);
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper left', $brand-success, 180);
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper left', $brand-success, 250);
  };
}

section.section-nc {
  color: $white;
  background-color: $brand-success;
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper left', $brand-warning, 100);
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper left', $brand-warning, 180);
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper left', $brand-warning, 250);
  };
}

section.section-srv {
  color: $white;
  background-color: $brand-warning;
  @include media-breakpoint-up(md) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 100);
  };
  @include media-breakpoint-up(lg) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 180);
  };
  @include media-breakpoint-up(xl) {
    @include angled-edge('inside bottom', 'upper left', #ffffff, 250);
  };
}
