$sans-serif-bold: sans-serif;

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: -1;
  background-image: url('../img/bg-main.svg');
  background-color: white; // used to obscure page background image
  background-repeat: no-repeat;
  background-size: 4000px 2000px;
  background-position: center top;

  @include mq(desktop-narrow, 'max-width') {
    background-size: 4000px 1750px;
  }

  @include mq(tablet, 'max-width') { // 768, same as 'ipad'
    background-size: 4000px 1600px;
  }

  @include mq(mobile-landscape, 'max-width') {
    background-size: 250%;
    background-position: 25% 50px;
    height: 1000px;
  }
}

.hero {
  &__heading {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  &__content-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 92%;
    margin: 0 auto;
    align-items: center;
  }

  &__video-wrap {
    width: 46%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 18px solid $color-cyber-grape;
    border-radius: 18px;
    background-color: $color-cyber-grape;
    video {
      position: relative;
      border-radius: 8px;
    }
  }

  &__video-button {
    position: absolute;
    top: -20px;
    height: 2px;
    width: 24px;
    background: $color-cyber-grape;
    border-radius: 5px 5px 0 0;

    &--a {
      left: 10px;
    }

    &--b {
      left: 36px;
    }
  }

  &__content {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 1.45em;
      line-height: 1.25;
      margin: 0;
      padding-bottom: 1.5em;
    }
  }

  &__tagline {
    font-size: 1.45em;
    font-weight: 700;
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__btn-note {
    margin-left: 10px;
    font-size: .75rem;
  }

  @include mq(desktop-narrow, 'max-width') {
    &__heading {
      font-size: 2.75em;
      padding-bottom: 55px;
    }

    &__content-wrap {
      flex-direction: column;
    }

    &__video-wrap,
    &__content {
      width: 90%;
      margin: 0 auto;
    }

    &__video-wrap {
      margin-bottom: 2.5em;
    }

    &__content {
      text-align: center;
    }

    &__btn-wrap {
      justify-content: center;
    }
  }

  @include mq(tablet, 'max-width') {
    padding: 2em 0 3em;

    &__btn-wrap {
      flex-direction: column;
    }

    &__btn-note {
      margin-left: 0;
      margin-top: 1.25em;
    }
  }

  @include mq(mobile-landscape, 'max-width') {
    &__heading {
      font-size: 2.4em;
      padding-bottom: 30px;
    }

    &__content p,
    &__tagline {
      font-size: 1.25em;
    }
  }
}

.cta-block {
  margin-top: 5em;

  &__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    background: #f2f6f7;
    border-radius: 2rem;
    padding: 2rem;
  }

  &__content {
    padding: 1rem;
    text-align: center;
    width: 100%;

    @include mq(desktop-narrow, 'min-width') {
      text-align: left;
      padding: 2rem;
      &:first-of-type {
        border-right: 3px dotted #dae3e5; 
      }
    }

    img {
      width: 125px;
      margin: 0 auto 30px;
      background: #DAE3E5;
      padding: 1rem;
      border-radius: 50%;
      height: 125px;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 1rem;
      text-align: center;
    }

    p {
      padding-bottom: 2rem;
    }
  }

  @include mq(desktop-narrow, 'max-width') {
    margin-top: 3em;
  }

  @include mq(tablet, 'max-width') {
    margin-top: 1.5em;

    &__wrap {
      flex-direction: column;
    }

    &__content {
      width: 100%;

      &:not(:last-of-type){
        margin-bottom: 4.5em;
      }
    }
  }
}

.about-block {
  position: relative;

  @include mq(desktop-narrow, 'min-width') {
    padding-bottom: 5rem;
  }

  &__bg-img {
    position: absolute;
    z-index: -1;
    height: 70%;
    width: 95%;
    right: 0;
    top: -800px;
    img {
      max-height: 1200px;
    }
    display:none;
  }

  .container {
    position: relative;
    z-index: 10;

    .nc-video-preview {
      width: 100%;
    }

    .blurb {
      // width: 80%;
      h2 {
        text-align: center;
      }
    }

    .video {
      width: 60%;
      margin: 0 auto;
    }

  }

  .grid__col-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media('min-width': 1200px) {
    &__bg-img {
      right: -90px;
    }
  }

  @media('min-width': 1400px) {
    &__bg-img {
        right: -100px;
    }
  }

  @media('min-width': 1600px) {
    &__bg-img {
      right: -200px;
    }
  }

  @media('min-width': 1800px) {
    &__bg-img {
      right: -150px;
    }
  }

  @include mq(large, 'max-width') {
    &__bg-img {
      top: -650px;
      img {
        max-height: 1000px;
      }
    }
  }

  @include mq(container-max, 'max-width') {
    &__bg-img {
      top: -550px;
    }
  }

  @include mq(desktop, 'max-width') {
    &__bg-img {
      top: -430px;
    }
  }

  @include mq(desktop-narrow, 'max-width') {
    &__bg-img {
      top: -350px;
    }
  }

  @include mq(ipad, 'max-width') {
    text-align: center;

    &__bg-img {
      width: 100%;
      right: 0;
    }

    .grid__col-half {
      display: flex;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
        margin-bottom: 2.5em;
      }
    }
  }

  @include mq(tablet, 'max-width') {
    &__bg-img {
      width: 200%;
      top: -200px;
    }
  }
}

.workflow-block {
  position: relative;
  background-image: url('../img/blob-gray.svg');
  background-repeat: no-repeat;
  background-position: center 50%;
  padding: 8em 0;

  .container {
    position: relative;
    z-index: 100;
  }

  &__icon-img {
    height: 90%;
  }

  .grid__col-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

   @include mq(ipad, 'max-width') {
    text-align: center;
    background-image: none;
    padding: 3em 0;

    &__icon-img {
      width: 300px;
      max-width: 100%;
      height: auto;
      margin: 0 auto 40px;
    }
   }
}
