@font-face {
  font-family: 'Quicksand-Bold';
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Quicksand-Medium';
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Quicksand-Regular';
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Quicksand-Light';
  src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@keyframes fade-in-1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem; }
  @media screen and (min-width: 1024px) {
    html {
      font-size: 1.125rem; } }

body {
  margin: 0;
  font: 1em/1.375 "Quicksand-Regular", Helvetica, Arial, sans-serif;
  color: #2d2955;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  display: block; }

img,
video {
  display: block;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand-Bold", Helvetica, Arial, sans-serif;
  margin-top: 0;
  line-height: 1.15; }

p {
  margin-top: 0;
  line-height: 1.375;
  margin-bottom: 0;
  padding-bottom: 1.3rem; }

a {
  text-decoration: none;
  transition: all .2s ease; }

b,
strong {
  font-weight: 700; }

kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  letter-spacing: 1px;
  color: white;
  font-family: "Quicksand-Medium", Helvetica, Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 0 #191630; }

.btn--color-a {
  background: #57C6a4; }
  .btn--color-a:hover {
    background: #3eb691; }

.btn--color-b {
  background: #d1395d; }
  .btn--color-b:hover {
    background: #b72a4c; }

.btn--color-c {
  background: #eab93f; }
  .btn--color-c:hover {
    background: #e6ac1a; }

.btn--color-d {
  background: #3a3a75; }
  .btn--color-d:hover {
    background: #2c2c5a; }

.btn--sm {
  padding: 12px 40px;
  font-size: .7rem; }

.btn--md {
  padding: 17px 50px;
  font-size: .75rem; }

.btn--lg {
  padding: 20px 60px;
  font-size: 1rem; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

.header__container {
  padding: 2.5em 0;
  display: flex;
  justify-content: space-between;
  width: 94%;
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
  position: relative; }
.header__logo img {
  width: 370px; }
.header__menu-trigger {
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
  outline: none;
  z-index: 9999;
  padding: 15px 0 15px 15px; }
  .header__menu-trigger span {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background: #3a3a75; }
    .header__menu-trigger span:not(:last-child) {
      margin-bottom: .25em; }
  .has-open-nav .header__menu-trigger {
    display: none; }
    .has-open-nav .header__menu-trigger span {
      transition: all .1s ease; }
      .has-open-nav .header__menu-trigger span:nth-child(1) {
        transform: rotate(45deg);
        top: 5px; }
      .has-open-nav .header__menu-trigger span:nth-child(2) {
        display: none; }
      .has-open-nav .header__menu-trigger span:nth-child(3) {
        transform: rotate(135deg);
        bottom: 1px; }
.header__nav ul {
  margin: 0;
  padding: 0; }
.header__nav li {
  display: inline-block;
  margin-left: 30px; }
.header__nav a {
  color: #2d2955;
  padding-bottom: 3px;
  font-size: 1rem;
  font-family: "Quicksand-Medium", Helvetica, Arial, sans-serif;
  border-bottom: 2px solid transparent; }
  .header__nav a:hover {
    color: #57C6a4;
    border-bottom: 2px solid #57C6a4; }
@media screen and (max-width: 1099px) {
  .header__nav li {
    margin-left: 20px; }
  .header__nav a {
    font-size: .95rem; } }
@media screen and (max-width: 1023px) {
  .header__logo img {
    width: 300px; } }
@media screen and (max-width: 879px) {
  .header__container {
    justify-content: center;
    flex-direction: column; }
  .header__logo {
    margin-bottom: 20px; }
  .header__nav li:first-child {
    margin-left: 0; } }
@media screen and (max-width: 639px) {
  .header__container {
    justify-content: flex-start;
    flex-direction: row;
    padding: 1rem 0; }
  .header__logo img {
    width: 220px; }
  .header__menu-trigger {
    display: block; }
    .has-open-nav .header__menu-trigger {
      display: block;
      position: fixed;
      right: 1rem; }
  .header__nav {
    display: none; }
    .header__nav li {
      display: block;
      margin-left: 0;
      text-align: left;
      margin-bottom: 16px; }
      .header__nav li a {
        font-size: 1.3rem; }
    .has-open-nav .header__nav {
      display: block;
      position: fixed;
      background: white;
      z-index: 9000;
      top: 0;
      padding: 35px 0 20px 20px;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0; } }

.footer {
  padding: 3em 0 2em; }
  .footer__logo img {
    width: 380px;
    margin: 0 auto; }
  .footer__nav {
    text-align: center;
    margin-top: 1.5em; }
    .footer__nav ul {
      margin: 0;
      padding: 0; }
    .footer__nav li {
      display: inline-block;
      margin: 0 15px;
      margin-bottom: 7px; }
      @media screen and (max-width: 879px) {
        .footer__nav li:last-child {
          display: block;
          margin: 25px auto 0; } }
    .footer__nav a {
      color: #2d2955;
      padding-bottom: 3px;
      font-size: 1rem;
      font-family: "Quicksand-Medium", Helvetica, Arial, sans-serif;
      border-bottom: 2px solid transparent; }
      .footer__nav a:hover {
        color: #57C6a4;
        border-bottom: 2px solid #57C6a4; }
      .footer__nav a.btn {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        color: white;
        font-family: "Quicksand-Medium", Helvetica, Arial, sans-serif;
        cursor: pointer;
        padding: 17px 50px;
        font-size: .75rem;
        border-bottom: none; }
        .footer__nav a.btn:hover {
          border-bottom: none; }
  .footer__privacy-block {
    margin-top: 3em;
    font-size: .7rem;
    text-align: center; }
    .footer__privacy-block ul {
      margin: 0;
      padding: 0; }
    .footer__privacy-block li {
      margin: 0 15px 10px;
      display: inline-block; }
      @media screen and (max-width: 639px) {
        .footer__privacy-block li:last-child {
          display: block;
          margin-bottom: 0; } }
    .footer__privacy-block a {
      font-family: "Quicksand-Medium", Helvetica, Arial, sans-serif;
      font-size: .7rem;
      color: #57C6a4; }

main {
  overflow: hidden; }

.site {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url("../img/bg-main.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%; }
  @media screen and (max-width: 879px) {
    .site {
      background-size: 100% 40%; } }
  @media screen and (max-width: 767px) {
    .site {
      background-size: 100% 32%; } }
  @media screen and (max-width: 639px) {
    .site {
      background-size: 100% 22%; } }
  @media screen and (max-width: 479px) {
    .site {
      background-size: 100% 25%; } }
  .site__content {
    flex: 1; }

section {
  padding: 3em 0; }

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto; }

.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .grid__col-half {
    width: 46%; }
  @media screen and (max-width: 767px) {
    .grid {
      flex-direction: column; }
      .grid__col-half {
        width: 100%; } }

.hero__heading {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 80px; }
.hero__content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 92%;
  margin: 0 auto; }
.hero__video-wrap {
  width: 46%;
  position: relative;
  overflow: hidden; }
  .hero__video-wrap video {
    border: 18px solid #16152b;
    border-radius: 18px;
    position: relative; }
.hero__video-button {
  position: absolute;
  top: -20px;
  height: 2px;
  width: 24px;
  background: #16152b;
  border-radius: 5px 5px 0 0; }
  .hero__video-button--a {
    left: 10px; }
  .hero__video-button--b {
    left: 36px; }
.hero__content {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero__content p {
    font-size: 1.45em;
    line-height: 1.25; }
.hero__tagline {
  font-size: 1.45em;
  font-family: "Quicksand-Bold", Helvetica, Arial, sans-serif;
  padding-bottom: 1.85rem; }
.hero__btn-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
.hero__btn-note {
  margin-left: 40px;
  font-size: .75rem; }
@media screen and (max-width: 879px) {
  .hero__heading {
    font-size: 2.75em;
    padding-bottom: 55px; }
  .hero__content-wrap {
    flex-direction: column; }
  .hero__video-wrap, .hero__content {
    width: 90%;
    margin: 0 auto; }
  .hero__video-wrap {
    margin-bottom: 2.5em; }
  .hero__content {
    text-align: center; }
  .hero__btn-wrap {
    justify-content: center; } }
@media screen and (max-width: 639px) {
  .hero {
    padding: 2em 0 3em; }
    .hero__btn-wrap {
      flex-direction: column; }
    .hero__btn-note {
      margin-left: 0;
      margin-top: 1.25em; } }
@media screen and (max-width: 479px) {
  .hero__heading {
    font-size: 2.4em;
    padding-bottom: 30px; }
  .hero__content p, .hero__tagline {
    font-size: 1.25em; } }

.cta-block {
  margin-top: 4em;
  margin-bottom: 3em; }
  .cta-block__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 88%;
    margin: 0 auto; }
  .cta-block__content {
    width: 46%;
    text-align: center; }
    .cta-block__content img {
      width: 105px;
      margin: 0 auto 30px;
      height: 116px; }
    .cta-block__content h2 {
      margin-bottom: 0;
      padding-bottom: 1rem; }
    .cta-block__content p {
      padding-bottom: 2rem; }
  @media screen and (max-width: 879px) {
    .cta-block {
      margin-top: 3em; } }
  @media screen and (max-width: 767px) {
    .cta-block__wrap {
      max-width: 92%; } }
  @media screen and (max-width: 639px) {
    .cta-block {
      margin-top: 1.5em; }
      .cta-block__wrap {
        flex-direction: column; }
      .cta-block__content {
        width: 100%; }
        .cta-block__content:not(:last-of-type) {
          margin-bottom: 4.5em; } }

.about-block {
  position: relative; }
  .about-block__bg-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 95%;
    right: 0;
    top: -800px; }
  .about-block .container {
    position: relative;
    z-index: 10; }
  .about-block .grid__col-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  @media screen and (max-width: 1259px) {
    .about-block__bg-img {
      top: -650px; } }
  @media screen and (max-width: 1099px) {
    .about-block__bg-img {
      top: -550px; } }
  @media screen and (max-width: 1023px) {
    .about-block__bg-img {
      top: -430px; } }
  @media screen and (max-width: 879px) {
    .about-block__bg-img {
      top: -350px; } }
  @media screen and (max-width: 767px) {
    .about-block {
      text-align: center; }
      .about-block__bg-img {
        width: 100%;
        right: 0; }
      .about-block .grid__col-half {
        display: flex; }
        .about-block .grid__col-half:nth-child(1) {
          order: 2; }
        .about-block .grid__col-half:nth-child(2) {
          order: 1;
          margin-bottom: 2.5em; } }
  @media screen and (max-width: 639px) {
    .about-block__bg-img {
      width: 200%;
      top: -200px; } }

.workflow-block {
  margin-top: 2em;
  position: relative;
  background-image: url("../img/blob-gray.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 50%; }
  .workflow-block .container {
    position: relative;
    z-index: 100; }
  .workflow-block__icon-img {
    height: 90%; }
  .workflow-block .grid__col-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  @media screen and (max-width: 767px) {
    .workflow-block {
      text-align: center;
      background-size: cover;
      background-position: 20% 50%; }
      .workflow-block__icon-img {
        width: 300px;
        max-width: 100%;
        height: auto;
        margin: 0 auto 40px; } }

/*# sourceMappingURL=style.css.map */
