@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}