main {
  overflow: hidden;
}

.site {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url('../img/bg-main.svg');
  background-repeat: no-repeat;
  background-size: 100% 50%;

  @include mq(desktop-narrow, 'max-width') {
    background-size: 100% 40%;
  }

  @include mq(ipad, 'max-width') {
    background-size: 100% 32%;
  }

  @include mq(tablet, 'max-width') {
    background-size: 100% 22%;
  }

  @include mq(mobile-landscape, 'max-width') {
    background-size: 100% 25%;
  }

  &__content {    
    flex: 1;
  }
}

section {
  padding: $section-padding 0;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

