---
layout: page
---

    <h2>{{ page.title | escape }}</h2>
    <div class="card-deck">
    {% for person in site.data.team %}
        <div class="nc-card">
            <img src="{{ person.image | relative_path }}" alt="headshot" class="card-img-top img-fluid">
          <div class="card-block">
            <h3 class="card-title">{{ person.name | escape }}</h3>
            <h4 class="job-title">{{ person.title | escape }}</h4>
            <p class="card-text">{{ person.bio | markdownify }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
