---
layout: default
---
<section class="section-intro">
  <div class="container">
    <div class="row align-items-center justify-content-center">
        <h1 class="section-heading" id="about">What is Network Canvas?</h1>
      <!-- <img src="/images/svg/NC-Mark.svg" alt="Network Canvas" class="img-fluid logo-section text-center"> -->
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="lead">Most interview tools are optimized for capturing individual rather than network-level data. Those that do capture network data are often tedious and cumbersome.</p><p class="lead"><br /><strong>Network Canvas is different.</strong></p>
      </div>
      <div class="col hidden-md-down">
        <img src="/images/svg/NC-Mark.svg" class="img-fluid img-journey" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col hidden-md-down">
        <img src="/images/png/imac.png" class="img-fluid img-journey" />
      </div>
      <div class="col">
        <p class="lead">It captures data about both the individual and their social network through intuitive and engaging interfaces. By representing abstract relationships and attributes visually, complex structural data becomes more tangible and simple to capture.<p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="lead">Through its three components – Architect, Server, and the survey application itself – social and behavioral researchers can easily design, deliver, and capture data on both their participants and the people and places with whom their participants interact.</p>
      </div>
      <div class="col hidden-md-down">
        <img src="/images/svg/suite.svg" class="img-fluid img-journey" />
      </div>
    </div>
  </div>
</section>
<section class="section-arc">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <h1 class="section-heading" id="features">Key Features</h1>
      <!-- <img src="/images/svg/NC-Mark.svg" alt="Network Canvas" class="img-fluid logo-section text-center"> -->
    </div>
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/svg/robot.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">End-to-end Workflow</h4>
          <p class="card-text">Network Canvas is designed to be an end-to-end solution for complex data collection.</p>
          <p class="card-text">Surveys are built through our Architect, run on our survey application, and data are managed through our Server. Windows, Mac, Android and iOS are all supported.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/svg/info.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Simple Screens</h4>
          <p class="card-text">Network Canvas divides data collection into a series of interactive screens, each designed to be simple and intuitively understood.</p>
          <p class="card-text">This minimizes the need for instructions and interviewer intervention,  and helps the interviewee to feel empowered and engaged during the interview.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/svg/github.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Open Science, Open Software</h4>
          <p class="card-text">Network Canvas is developed as open source software for the whole research community.</p>
          <p class="card-text">You can watch our progress, create your own version, or contribute code and extensions. We consult researchers to ensure that Network Canvas meets their needs and not just ours. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-nc">
  <div class="container">
    <div class="row align-items-center justify-content-center">
        <h1 class="section-heading" id="timeline">Our Timeline</h1>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="lead">We want the Network Canvas suite of tools to be high quality, safe for research, and built to last.</p>
        <p>This means that our development process is mapped out in years, rather than weeks or months. However, there are many opportunities to become involved in the project, and to try out our tools before the stable release. Below you can find the key phases of the project summarized.</p>
        <ul>
          <li>We will shortly be commencing with our <strong>alpha phase</strong>, where selected test sites will have access to experimental versions of the software that are not yet ready for public use.</li>
          <li>We will then enter a <strong>public beta phase</strong>, where we invite the wider community to test Network Canvas. We would welcome enquiries from those of you with research projects that would fit this timeframe. During the beta period, our website will host a platform for community feedback, feature requests and discussions. Pre-packaged versions of the suite will be available to download. We anticipate that a public beta of the full suite will be available in April 2019.</li>
          <li>Finally, we will enter the <strong>stable release phase</strong>, where we will work with the research community to deliver trainings and workshops to help foster uptake. We will also compile example research instruments created in Network Canvas and make in-depth tutorials of different strategies for using Network Canvas. </li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <img class="img-fluid timeline hidden-sm-down" src="/images/svg/timeline.svg" alt="Project timeline">
      </div>
    </div>
  </div>
</section>
<section class="section-srv">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <h1 class="section-heading" id="feedback">Get Involved</h1>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <p class="lead">If you’re interested in Network Canvas, keep up to date with the project through our website, our mailing list, or <a href="mailto:info@networkcanvas.com">contact us directly</a> with any feedback or questions that you may have.</p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div id="mc_embed_signup">
        <div id="mc_embed_signup_scroll" class="row">
          <div class="col">
            <h2>Mailing List</h2>
          </div>
        </div>
        <form action="//networkcanvas.us14.list-manage.com/subscribe/post?u=66b037bad92d8f1f552b9097f&amp;id=fce94667d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll" class="row">
                <div class="mc-field-group form-group col-sm-12 col-md-6">
                    <label for="mce-FNAME">First Name</label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                </div>
                <div class="mc-field-group form-group col-sm-12 col-md-6">
                    <label for="mce-LNAME">Last Name</label>
                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                </div>
                <div class="mc-field-group form-group col-sm-12 col-md-12">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" aria-required="true">
                </div>
            </div>
            <small><div class="indicates-required"><span class="asterisk">*</span> indicates required</div></small>
            <div class="mc-field-group form-group input-group row">
              <div class="col">
                <h5>Research Interests (check all that apply):</h5>
              </div>
            </div>
            <div class="row">
              <div class="checkbox col-sm-12 col-md-6">
                  <label for="mce-group[517]-517-0">
                      <input type="checkbox" value="1" name="group[517][1]" id="mce-group[517]-517-0"> Personal networks</label>
              </div>
              <div class="checkbox col-sm-12 col-md-6">
                  <label for="mce-group[517]-517-1">
                      <input type="checkbox" value="2" name="group[517][2]" id="mce-group[517]-517-1"> Network data collection</label>
              </div>
            </div>
            <div class="row">
              <div class="checkbox col-sm-12 col-md-6">
                  <label for="mce-group[517]-517-2">
                      <input type="checkbox" value="4" name="group[517][4]" id="mce-group[517]-517-2"> Public health</label>
              </div>
              <div class="checkbox col-sm-12 col-md-6">
                  <label for="mce-group[517]-517-3">
                      <input type="checkbox" value="8" name="group[517][8]" id="mce-group[517]-517-3"> Software development and testing</label>
              </div>
            </div>
            <div id="mce-responses" class="row">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_66b037bad92d8f1f552b9097f_fce94667d6" tabindex="-1" value="">
            </div>
            <div class="form-bottom row">
                <div class="col text-center">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="nc-btn nc-btn-primary">
                </div>

            </div>
                </div>
            </div>
        </form>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
            (function($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
      </div>
    </div>
  </div>
</section>
<section class="section-who">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <h1 class="section-heading" id="team">Who We Are</h1>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <p>The Network Canvas project is funded by the National Institutes of Health (<a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9306043&icde=34393852">R01DA042711</a>) and led by researchers in the <a href="https://isgmh.northwestern.edu/">Institute for Sexual and Gender Minority Health and Wellbeing</a> at Northwestern University, with research partners at the <a href="https://www.oii.ox.ac.uk/people/bernie-hogan/">University of Oxford</a>, <a href="http://www.jhsph.edu/faculty/directory/profile/2654/cui-yang">Johns Hopkins University</a>, and <a href="https://sph.emory.edu/faculty/profile/#!NDCRAWF">Emory University</a>, and an international advisory board of social network and public health researchers.</p>

      </div>
    </div>
    <h2>Project Team</h2>
    <!-- <p>The team involved in the creation of <em>netCanvas-R</em> is comprised of scholars at the <a href="http://www.oii.ox.ac.uk" alt="Oxford Internet Institute" target="_blank">Oxford Internet Institute</a>, University of Oxford, and the <a href="http://www.impactprogram.org/" alt="Impact Progam" target="_blank">Impact Program</a> at Northwestern University.</p> -->
    <div class="row">
      <div class="col">
        <strong>Principal Investigators:</strong> Drs. Michelle Birkett and Gregory Phillips II<br />
        <strong>Co-Investigators:</strong> Drs. Patrick Janulis, Bernie Hogan, Noshir Contractor, and Michael Bass<br />
        <strong>Development Team:</strong> Jamie Chung, Rebecca Masden, Steve McKellar (Team Galic UK), Joshua Melville, Matt Meshulam, and Ronald Pedagat</br />
        <strong>Project Staff:</strong> Kate Banner, Shawna Davis, Elizabeth McConnell, and Balint Neray<br />
        <strong>Test Site Leaders:</strong> Dr. Natalie Crawford, Dr. Cui Yang<br />
        <strong>Scientific Advisory Board:</strong> Dr. Brian Mustanski, Dr. Richard D’Aquila, Dr. Martin Everett, Dr. jimi adams, Dr. Abel Kho<br />
      </div>
    </div>
  </div>
</section>
