---
layout: default
---

<div class="home-background"></div>

{% include header.html %}

<main class="site__content">

    <section class="announcement">
        <div class="container">
            <a href="https://community.networkcanvas.com" target="_blank">
                <div class="announcement__container">
                    <span>🚀</span> Have you seen our new community website?<br />
                    <span>👉</span> <strong>community.networkcanvas.com</strong>
                </div>
            </a>
        </div>
    </section>

    <section class="hero">
        <div class="container">
            <h1 class="hero__heading">
                Software to simplify complex <br>network data collection.
            </h1>
            <div class="hero__content-wrap">

                <div class="hero__video-wrap">
                    <div class="hero__video-button hero__video-button--a"></div>
                    <div class="hero__video-button hero__video-button--b"></div>
                    <video autoplay loop muted>
                        <source src="assets/video/hero-video.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="hero__content">
                    <p>Network Canvas is a <strong>free and open-source</strong> set of software for surveying personal networks, designed around the needs of both researchers and participants.</p>
                </div>
            </div>
            <div class="hero__button">
                <a href="/download.html" class="btn btn--md btn--color-b">
                    Download Now
                </a>
                <div class="hero__btn-note">
                    <span>or keep scrolling to learn more</span>
                </div>
            </div>
        </div>
    </section>

    <section class="workflow-block">
        <div class="container">
            <h1 class="section-heading">An end-to-end workflow for your research</h1>

            <div>
                <p>Network Canvas has a tool for survey design, a tool for interviewing, and a tool for secure case management. Through these three components – Architect, Server, and the Interviewer application itself – researchers can easily design, capture, and export network data.</p>
            </div>
            <div>
                <picture>
                    <source class="workflow-block__icon-img" src="assets/img/workflow-vertical@1x.png" srcset="assets/img/workflow-vertical@2x.png 2x, assets/img/workflow-vertical@4x.png 4x" media="(max-width: 768px)"/>
                    <img class="workflow-block__icon-img" src="assets/img/workflow@1x.png" srcset="assets/img/workflow@2x.png 2x, assets/img/workflow@4x.png 4x" alt="Workflow Icons" />
                </picture>
                
            </div>

        </div>
    </section>

    <section class="about-block">
        <div class="about-block__bg-img">
            <img src="assets/img/blob-gray.svg" alt="Background Blob Graphic">
        </div>
        <div class="container">
            <h1 class="section-heading">Learn more</h1>
            <div class="blurb">
                    <p>Our goal is to build a suite of tools for the research community that is high quality, free, safe for research, and built to last. Watch our project video to learn more about why we created Network Canvas.</p>
                </div>
            <div class="video">
                <a href="https://youtu.be/XzfE6j-LnII"><img class="nc-video-preview" src="assets/img/video-placeholder.jpg" alt="Video Placeholder"></a>
            </div>
        </div>
    </section>

    <section class="cta-block">
        <div class="container">
            <!-- <h1 class="section-heading">What next?</h1> -->
            <div class="cta-block__wrap">
                <div class="cta-block__content">
                    <div className="content-icon">
                        <img src="assets/img/robot.svg" alt="Just getting started?">
                    </div>
                    <div className="content-text">
                        <h2>Looking for help or want to learn more?</h2>
                        <p>We have created extensive documentation, covering all aspects of creating, deploying, and managing a
                            study using Network Canvas.</p>
                        <a href="https://documentation.networkcanvas.com" class="btn btn--md btn--color-a">
                            Documentation
                        </a>
                        <p>We have also recently launched a community website, where you can ask questions, report bugs, share
                            your work, and get help from other researchers.</p>
                        <a href="https://community.networkcanvas.com" class="btn btn--md btn--color-b">
                            Community Website
                        </a>
                    </div>
                </div>
    
                <div class="cta-block__content">
                    <div className="content-icon">
                        <img src="assets/img/lightbulb.svg" alt="Got an idea?">
                    </div>
                    <div className="content-text">
                        <h2>Want to collaborate?</h2>
                        <p>This is an open source community-driven project. Please share your thoughts on the software, suggest
                            new features, or to tell us where we could improve on our community website!</p>
                        <p>If you are interested in a formal academic or consultancy-based collaboration, please see our
                            documentation article on the subject.</p>
                        <a href="https://documentation.networkcanvas.com/requests-for-collaboration/"
                            class="btn btn--md btn--color-c">
                            Collaboration Requests
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mailing-list-block">
        <div class="container">
            <h1 class="section-heading">Keep in touch</h1>
            <p>If you would like to stay in touch with the project, and find out about events and releases as soon as they happen, we encourage you to join our mailing list, and to follow us on Twitter. We are considerate email partners, and will only ever use this list for important announcements.</p>
            <div class="grid">
                <div class="grid__col-full mailing-list">
                    {% include mailing-list.html %}
                </div>
                <!-- <div class="grid__col-half twitter-feed">
                        <a class="twitter-timeline" data-height="600" data-link-color="#00C9A2" href="https://twitter.com/NetworkCanvas?ref_src=twsrc%5Etfw">Tweets by NetworkCanvas</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div> -->
            </div>
        </div>
    </section>

</main>

{% include footer.html %}
