---
layout: default
---

<div class="nc-hero text-white bg-inverse align-items-center">
  <div class="col device-header hidden-sm-down">
    <img src="/images/png/flat.png" class="img-fluid img-devices"/>
  </div>
  <div class="col logo-header">
    <h1>Simplifying complex network data collection.</h1>
    <p><a class="nc-btn nc-btn-primary" href="#" role="button">Learn more &rarr;</a></p>
  </div>
</div>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1>What is Network Canvas?</h1>
        <p class="lead">Most interview tools are optimized for capturing individual- instead of network-level data. Those that do capture network data are often tedious and cumbersome. Network Canvas is different.</p>
        <p>It captures data about both the individual and their social network through intuitive and engaging interfaces. By representing abstract relationships and attributes visually, complex structural data becomes more tangible and simple to capture. Through its three components – Architect, Server, and the survey application itself – social and behavioral researchers can easily design, deliver, and capture data on both their participants and the people and places with whom their participants interact.</p>
      </div>
      <div class="col-lg-6">
        <img src="/images/png/imac.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section class="section-arc">
  <div class="container">
    <h1>End-to-end workflow</h1>
    <p class="lead">Network Canvas is designed to be an end-to-end solution for complex data collection.</p>
    <p>Surveys are built through our Architect, run on our survey application, and data are managed through our Server. Windows, Mac, Android and iOS are all supported.  The deployment of surveys across multiple computers and research sites is simple. Data aggregation and export are easy across a variety of common research scenarios, including longitudinal, respondent-driven, and multilevel samples.</p>
    <div class="card-deck">
      <div class="nc-card">
        <img class="card-img-top img-fluid" src="/images/svg/arc-flat.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <a class="nc-btn btn-outline btn-warning" href="#" role="button">Learn more &rarr;</a>
        </div>
      </div>
      <div class="nc-card">
        <img class="card-img-top img-fluid" src="/images/svg/nc-flat.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <a class="nc-btn btn-warning" href="#" role="button">Learn more &rarr;</a>
        </div>
      </div>
      <div class="nc-card">
        <img class="card-img-top img-fluid" src="/images/svg/srv-flat.svg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <a class="nc-btn btn-warning" href="#" role="button">Learn more &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-nc">
  <div class="container">
    <h1>Simple Screens</h1>
    <p class="lead">Network Canvas divides data collection into a series of interactive screens, each designed to be simple and intuitively understood.</p>
    <p>This minimizes the need for instructions and interviewer intervention, and helps the interviewee to feel empowered and engaged during the interview. A few examples of these screens include:</p>
    <ul>
      <li>	A “sociogram” layout to arrange nominated people and set links and groups. </li>
      <li>	An easily readable map interface to select geographic regions or points of interest. </li>
      <li>	A brightly colored bin interface to quickly drag and drop people and assign attributes.</li>
      <li>	A “narrative” interface that enables the capture of in-depth qualitative data.</li>
    </ul>
</p>
  </div>
</section>
<section class="section-srv">
  <div class="container">
    <h1>For Developers</h1>
    <p class="lead">Large amounts of digital trace data are now available to human behaviour researchers, but without contextual factors these 'big data' do not necessarily bring greater understanding.</p>
    <p>The Network Canvas suite of tools addresses the problem of missing contextual factors in social big data by enabling rich data capture directly from study participants. Supporting all steps in the research process from study design, to data capture and final analysis, Network Canvas allows researchers to capture and analyse personal network data while taking into account the micro and macro structural contexts of human behaviour that are not necessarily included in 'traditional' social big data.</p>
  </div>
</section>
