---
layout: default
---

<div class="nc-hero text-white bg-inverse align-items-center">
  <div class="col-sm-8 device-header">
    <img src="/images/png/flat.png" class="img-fluid"/>
  </div>
  <div class="col-sm-4 text-center">
      <img src="/images/svg/NC-Type and Mark Wide Pos.svg" width="550" class="img-fluid" style="margin-bottom:20px;">
    <h1>The social network toolkit.</h1>
    <p><a class="nc-btn nc-btn-primary" href="#" role="button">Learn more &rarr;</a></p>
  </div>
</div>

<section>
  <div class="container">
    {{ content }}
  </div>

</section>
